h1{
	font-family: 'Teko', sans-serif; 
	text-align: center;
}

col{
	text-align: center;
}

button{
	border-radius:3px; 
	margin-top:30px;
}
hr{
	width:100%;
}
#quote{
	text-align: center;
	word-wrap: normal;
	white-space:normal;
	width:80%;
	margin: 0 auto;
	padding-top:30px;
}